*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card{
    position: absolute;/*all four card will come ovver each other card4 will come on top*/
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    height: 300px;
    width: 230px;
   border: 1px solid black;
   overflow: hidden;
   

}



    

   #card1{
    background-color: salmon;
z-index: 10;

   }

   


#card2{
    z-index: 4;
    rotate: -7deg;
    background-color: blue;

}

#card3{
    z-index: 3;
    rotate: -14deg;
background-color: rgb(76, 187, 76);
}

#card4{
    z-index: 2;
    rotate: -21deg;
    background-color: yellow;

}

#card2:hover{
   z-index: 10;
}
#card3:hover{
    z-index: 10;
}
#card4:hover{
    z-index: 10;
}

img{
    width:100%;
    height: 100%;
    object-fit: cover; /*dimension of image willnot scew*/
}